---
import { titleClasses } from "$lib/modules/constants";
import { cn } from "$lib/utils";
import LogoIcon from "../svelte/icons/LogoIcon.svelte";

interface Props {
  title: string;
  subline: string;
  class?: string
}

const { title, subline, class: className } = Astro.props as Props;
---

<section class={cn("w-full bg-white dark:bg-secondary py-12 md:py-24 lg:py-32 relative", className)}>
  <div class="mx-auto max-w-3xl space-y-4 text-center w-full p-4 opacity-0">
    <h1 class={titleClasses}>{title}</h1>
    <p class="text-muted-foreground">
      {subline}
    </p>
  </div>
  <div class="mx-auto max-w-3xl space-y-4 text-center w-full p-4  absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[2]">
    <h1 class={titleClasses}>{title}</h1>
    <p class="text-muted-foreground">
      {subline}
    </p>
  </div>
  <LogoIcon class="w-full opacity-10 dark:opacity-5 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[1] h-full" />
</section>
